@tailwind base;

@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --base-black: #100f0f;
    --base-950: #1c1b1a;
    --base-900: #282726;
    --base-850: #343331;
    --base-800: #403e3c;
    --base-700: #575653;
    --base-600: #6f6e69;
    --base-500: #878580;
    --base-300: #b7b5ac;
    --base-200: #cecdc3;
    --base-150: #dad8ce;
    --base-100: #e6e4d9;
    --base-50: #f2f0e5;
    --base-paper: #fffcf0;
    --base-red-600: #af3029;
    --base-red-400: #d14d41;
    --base-orange-600: #bc5215;
    --base-orange-400: #da702c;
    --base-yellow-600: #ad8301;
    --base-yellow-400: #d0a215;
    --base-green-600: #66800b;
    --base-green-400: #879a39;
    --base-cyan-600: #24837b;
    --base-cyan-400: #3aa99f;
    --base-blue-600: #205ea6;
    --base-blue-400: #4385be;
    --base-purple-600: #5e409d;
    --base-purple-400: #8b7ec8;
    --base-magenta-600: #a02f6f;
    --base-magenta-400: #ce5d97; */

    --base-black: 16 15 15;
    --base-950: 28 27 26;
    --base-900: 40 39 38;
    --base-850: 52 51 49;
    --base-800: 64 62 60;
    --base-700: 87 86 83;
    --base-600: 111 110 105;
    --base-500: 135 133 128;
    --base-300: 183 181 172;
    --base-200: 206 205 195;
    --base-150: 218 216 206;
    --base-100: 230 228 217;
    --base-50: 242 240 229;
    --base-paper: 255 252 240;
    --base-red-600: 175 48 41;
    --base-red-400: 209 77 65;
    --base-orange-600: 188 82 21;
    --base-orange-400: 218 112 44;
    --base-yellow-600: 173 131 1;
    --base-yellow-400: 208 162 21;
    --base-green-600: 102 128 11;
    --base-green-400: 135 154 57;
    --base-cyan-600: 36 131 123;
    --base-cyan-400: 58 169 159;
    --base-blue-600: 32 94 166;
    --base-blue-400: 67 133 190;
    --base-purple-600: 94 64 157;
    --base-purple-400: 139 126 200;
    --base-magenta-600: 160 47 111;
    --base-magenta-400: 206 93 151;

    --bg-one: var(--base-black);
    --bg-two: var(--base-950);

    --sh-one: var(--base-900);
    --sh-two: var(--base-850);
    --sh-three: var(--base-800);

    --tx-one: var(--base-200);
    --tx-two: var(--base-500);
    --tx-three: var(--base-700);

    --re-one: var(--base-red-400);
    --re-two: var(--base-red-600);

    --or-one: var(--base-orange-400);
    --or-two: var(--base-orange-600);

    --ye-one: var(--base-yellow-400);
    --ye-two: var(--base-yellow-600);

    --gr-one: var(--base-green-400);
    --gr-two: var(--base-green-600);

    --cy-one: var(--base-cyan-400);
    --cy-two: var(--base-cyan-600);

    --bl-one: var(--base-blue-400);
    --bl-two: var(--base-blue-600);

    --pu-one: var(--base-purple-400);
    --pu-two: var(--base-purple-600);

    --ma-one: var(--base-magenta-400);
    --ma-two: var(--base-magenta-600);
  }

  .dark {
    --bg-one: var(--base-paper);
    --bg-two: var(--base-50);

    --sh-one: var(--base-100);
    --sh-two: var(--base-150);
    --sh-three: var(--base-200);

    --tx-one: var(--base-black);
    --tx-two: var(--base-600);
    --tx-three: var(--base-300);

    --re-one: var(--base-red-600);
    --re-two: var(--base-red-400);

    --or-one: var(--base-orange-600);
    --or-two: var(--base-orange-400);

    --ye-one: var(--base-yellow-600);
    --ye-two: var(--base-yellow-400);

    --gr-one: var(--base-green-600);
    --gr-two: var(--base-green-400);

    --cy-one: var(--base-cyan-600);
    --cy-two: var(--base-cyan-400);

    --bl-one: var(--base-blue-600);
    --bl-two: var(--base-blue-400);

    --pu-one: var(--base-purple-600);
    --pu-two: var(--base-purple-400);

    --ma-one: var(--base-magenta-600);
    --ma-two: var(--base-magenta-400);
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(52 51 49);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(52 51 49);
  border-radius: 14px;
  border: 3px solid rgb(52 51 49);
}
